.banner__inner
  .banner__inner__title
    だれでもかんたん、人生を変えるフリマアプリ
  .banner__inner__text
    今すぐ無料ダウンロード！
  .banner__inner__icon
    %a{href: "#"}
      %img.app{src: "App_Store.png"}
    %a{href: "#"}
      %img.google{src: "google-play-badge.png"}