.banner__inner
  .banner__inner__title
    だれでもかんたん、人生を変えるフリマアプリ
  .banner__inner__text
    今すぐ無料ダウンロード！
  .banner__inner__icon
    = link_to "#" do
      = image_tag "/App_Store.png", class: "app"
    = link_to "#" do
      = image_tag "/google-play-badge.png", class: "google"