hr{
  border: rgb(226, 243, 243) 1px solid;
}

input{
  max-width: 680px;
  width: 100%;
  padding: 10px 5px 10px;
  border-radius: 1%;
  margin: 10px 0;
}

textarea{
  max-width: 680px;
  width: 100%;
  padding: 10px 5px 10px;
  border-radius: 1%;
  margin: 10px 0;
}

.question-img{
  fill: rgb(0, 149, 238);
  height: 16px;
  margin-left: 4px;
  vertical-align: -3px;
  width: 16px;
}

select{
  max-width: 680px;
  width: 100%;
  padding: 10px 5px 10px;
  border-radius: 1%;
  margin: 10px 0;
  font-size: 14px;
}

p{
  font-size: 14px;
  color: gray;
  opacity: 0.8;
  margin: 5px 5px 5px;
}

.sell-main{
  width: 100%;
  margin-bottom: 20px;
  .sell-main-board{
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    .sell-main-board_#sub{
      .form{
        padding: 0 5px;
        background-color: whitesmoke;
        .form-box{
          padding-bottom: 10px;
          .form-label{
            label{
              font-weight: bold;
              font-size: 14px;
              margin-left: 5px;
            }
            .must-section{
              margin-left: 8px;
              color: white;
              background-color: rgb(82, 190, 190);
              font-size: 12px;
              font-family: 'Impact';
              padding: 1.6px;
              border-radius: 10%;
            }
            .free-secton{
              margin-left: 8px;
              color: white;
              background-color: rgb(60, 63, 63);
              font-size: 12px;
              font-family: 'Impact';
              padding: 1.8px;
              border-radius: 10%;
            }
          }
          .form-check{
            display: flex;
            &__option{
              margin-top: 5px;
              margin-left: 10px;
              width: 70px;
            }
            .check-box{
            }
          }
          .form-textfield{
            &__count{
              span{
                color: #888;
                line-height: 1.4em;
                margin-left: 90%;
              }
            }
          }
        }
        .price-box{
          display: flex;
          justify-content: space-between;
          .price-label{
            label{
              font-weight: bold;
              font-size: 14px;
              margin-left: 5px;
            }
            .must-section{
              margin-left: 8px;
              color: white;
              background-color: rgb(82, 190, 190);
              font-size: 12px;
              font-family: 'Impact';
              padding: 1.6px;
              border-radius: 10%;
            }
          }
          .price-textfield{
            display: flex;
            .pre{
              margin-right: 10px;
              margin-top: 20px;
            }
            &__input{
              text-align: right;
              #price-calc::placeholder{
                text-align: right;
              }
            }
          }
        }
        .price-box2{
          display: flex;
          justify-content: space-between;
          .price-label{
            margin-top: 20px;
            label{
              font-weight: bold;
              font-size: 14px;
              margin-left: 5px;
            }
          }
          .right_bar{
            margin-top: 20px;
          }
          .right_bar_2{
            margin-top: 20px;
            font-size: 14px;
            font-weight: bold;
          }
        }
        .buttons{
          width: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;
          margin-top: 25px;
          .sell-button{
            text-decoration: none;
            background-color: rgb(82, 190, 190);
            color: white;
            font-size: 17px;
            padding: 0 24px;
            margin: 0 0 24px;
            min-height: 48px;
            line-height: 48px;
            cursor: pointer;
          }
          .clear-button{
            text-decoration: none;
            color: #222222;
            background-color: #cccccc;
            font-size: 17px;
            padding: 0 24px;
            min-height: 48px;
            line-height: 48px;
          }
        }
        h1{
          font-size: 12px;
          padding: 30px 10px;
          a{
            text-decoration: none;
            color: rgb(82, 190, 190);
          }
        }
      }
    }
  }
}


