-# = render "header"
.my-contents
  = render "my-side"
  .add-card
    .add-card__head
      支払い方法
    -# if文で登録されているかどうかで分岐
    = form_with(url: "#", local: true, method: :post, class: "add-card-form") do |form|
      .add-form__btn
        = form.submit "クレジットカードを登録する", class: "add-btn"
      .how-to-pay
        = link_to "#", class: "pay-way" do
          支払いについて
-# = render "banner"
-# = render "footer"