@mixin error-code {
  color: red;
  display: none;
}

@mixin num-code {
  width: 100%;
  margin: 8px 0 0;
  height: 48px;
  padding: 0 16px;
}

@mixin dead{
  width: calc(100% - 38px);
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

@mixin select{
  width: 45%;
  margin: 8px 0 0;
  position: relative;
  background: #fff;
}
// マイカード登録情報入力
.my-card{
height: 630px;
width: 700px;
background-color: #fff;
  &__head{
  font-size: 24px;
  font-weight: bold;
  padding: 8px 24px;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  }

  .card-form{
  max-width: 343px;
  margin: 0 auto;
  padding: 40px 0 0 0;
// 番号入力
    &__input-num{
    @include num-code;
    }
    #warn1{
      @include error-code;
    }
    #warn2{
      @include error-code;
    }
    &__image{
    margin: 8px 0 0;
    }
// 期限入力
    &__dead{
      margin-top: 32px;
      &__selects{
      display: flex;
        .select-month{
          @include select;
          #exp_month{
            @include dead;
          }
        }
        .select-year{
          @include select;
          #exp_year{
            @include dead;
          }
        }
      }
    }
// コード入力
    .card-form__code{
    margin-top: 32px;
      .card-form__input-code{
      @include num-code;
      }
      #warn3{
        @include error-code;
      }
      #warn4{
        @include error-code;
      }
      .my-card-q{
        text-align: right;
        font-size: 14px;
        margin: 8px 0 0;
        width: 100%;
        .back-num{
          color:#0099e8;
        }
      }
    }
    .my-form__add{
      .add-btn{
        background: #57CACE;
        border: 1px solid;
        color: #fff;
        width: 100%;
        margin-top: 32px;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        line-height: 1.5;
        font-size: 16px;
      }
    }
  }
}

.card-nav{
  font-size: 16px;
  font-weight: 600;
}

.must{
  background-color: #57CACE;
  color: white;
  padding: 2px 4px;
}

