.header{
  padding: 15px 60px;

  &__box{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;

    &__main{
      display: flex;
      align-items: center;

      .main__icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      .main__search{
        margin-left: auto;
        width: 100%;

        .search-form{
          width: 100%;
          display: flex;
          margin-bottom: 5px;

          .search-input{
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
        }
        .search-btn{
          width: 36px;
          margin-bottom: 5px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;

          img{
            width: 100%;
            vertical-align: bottom;
          }
        }
      }
    }
    &__action{
      font-size: 15px;
      display: flex;

      .action__list{
        display: flex;
        line-height: 30px;

        .list__category {
          padding: 0;
          cursor: pointer;

          a:hover {
            color: #3CCACE;
          }
          a {
            text-decoration: none;
            color: black;
          }
        }
        .list__brand{
          line-height: 30px;
          padding: 0 0 0 40px;

          a:hover{
            color: #3CCACE;
          }
          a {
            text-decoration: none;
            padding: 0;
            color: black;
          }
          .brand-tree{
            z-index: 1;
            position: absolute;
            background-color: #fff;
            width: 240px;
            top: 40px;
            .first__tree{
              background-color: #fff;
              display: flex;
              flex-direction: column;
              position: relative;
              li{
                position: relative;
              }
            }
          }
        }
      }
      .action__user{
        margin-left: auto;
        display: flex;
        .user__login{
          color: #333;
          line-height: 30px;
          padding: 0 0 0 16px;
          a{
            text-decoration: none;
            color: black;
          }
          a:hover{
            color: orange;
          }
        }
        .user__new{
          color: #333;
          line-height: 30px;
          padding: 0 0 0 16px;
          a{
            text-decoration: none;
            color: black;
          }
          a:hover{
            color: orange;
          }
        }
        .mypage{
          color: #333;
          line-height: 30px;
          padding: 0 0 0 16px;
          a{
            text-decoration: none;
            color: black;
          }
          a:hover{
            color: orange;
          }
        }
      }
    }
  }
}

