.my-side{
  width: 280px;
  margin-right: 40px;
  &__lists{
  }
  
  &__mid{
    &__nav{
    font-size: 160px;
    }
    &__items{
    }
    margin-top: 40px;
  }
  
  &__btm{
    &__nav{
      font-size: 60px;
      font-weight: bolder;
      margin-top: 40px;
    }
    &__config{
    }
  }
}

li{
  border-bottom: 1px solid #eeeeee;
  background-color: white;
  padding: 16px;
}

a{
  text-decoration: none;
  color: black;
  font-size: 14px;
}