h2{
  font-size: 50px;
}

.field{
  font-size: 30px;
}

#user_email{
  width: 350px;
  height: 40px;
  font-size: 20px;
}

#user_password{
  width: 350px;
  height: 40px;
  font-size: 20px;
}

.actions{
  width: 300px;
}

.send{
  width: 300px;
  height: 100px;
}

