* {
  box-sizing: border-box;
}

.body{
  font-family: 'Impact';
  .board{
    background: #f8f8f8;
    .main-visual{
      width: 100%;
      height: 560px;
      background-image: url("/bg-mainVisual-pict_pc.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      position: relative;
      padding: 0 60px;
      display: flex;
      align-items: center;
      &__content{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 35px 0 0 0;
        h1{
          text-shadow: 0 0 5px rgb(39, 37, 37);
          font-size: 60px;
          line-height: 1.2;
          color: #fff;
        }
        p{
          text-shadow: 0 0 5px rgb(39, 37, 37);
          font-size: 18px;
          line-height: 1.7778;
          color: #fff;
          margin: 16px 0 0 0;
        }
        .btn{
          text-decoration: none;
          .content__btn{
            display: flex;
            margin: 24px 0 0 0;
            text-decoration: none;
            .app{
              margin-right: 10px;
              text-decoration: none;
              img{
                width: 160px;
                height: 50px;
                margin-top: 10px;
              }
              img:hover{
                opacity: 0.6;
              }
            }
            .google{
              img{
                width: 180px;
              }
              img:hover{
                opacity: 0.6;
              }
            }
          }
        }
      }
      &main-visual__picture{
        position: absolute;
        top: 0;
        right: 210px;
      }
    }
    .introdaction{
      padding: 60px 20px;
      h2{
        text-align: center;
        font-size: 26px;
        line-height: 1.4;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
      h2::after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 49%;
        transform: translateX(-50%);
      }
      .introduction__lists{
        text-align: center;
        display: flex;
        max-width: 1020px;
        margin: 0 auto;
        li{
          width: 30%;
          margin: 16px 5% 0 0;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          .list__image{
            position: relative;
            margin-bottom: 20px;
            span{
              display: inline-block;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4%;
              font-size: 30px;
              text-align: center;
              margin: 0 5px 0 0;
              padding: 10px 20px;
              background-color: #3CCACE;
              color: #fff;
              height: 60px;
            }
            img{
              width: 100%;
              vertical-align: bottom;
            }
          }
          .list__text{
            font-weight: bold;
            font-size: 24px;
            line-height: 50px;
            margin: 0 0 0 2px;
            span{
              color: #3CCACE;
            }
          }
          .list__sentence{
            font-size: 18px;
            line-height: 1.5;
            margin: 16px 0 0;
          }
        }
      }
    }
    .download{
      background-image: url("/bg-topMiddleDl-pict.jpg");
      background-position: bottom right;
      height: 400px;
      background-size: cover;
      display: flex;
      align-items: center;
      &__inner{
        color: #fff;
        text-shadow: 0 0 5px rgb(39, 37, 37);
        text-align: left;
        max-width: 1040px;
        width: 100%;
        margin: 0 auto;
        &__title{
          font-size: 27px;
          font-weight: bold;
          line-height: 1.4;
        }
        p{
          font-size: 18px;
          margin: 20px 0 30px;
          line-height: 1.5;
          br{
            box-sizing: border-box;
          }
        }
        &__btn{
          display: inline-flex;
          a{
            margin-right: 10px;
            img{
              width: 180px;
              vertical-align: bottom;
            }
            .app{
              width: 160px;
              height: 50px;
              margin-top: 10px;
            }
            img:hover{
              opacity: 0.6;
            }
          }
        }
      }
    }
    .features{
      padding: 60px 100px;
      background-color: #fff;
      &__head{
        font-size: 27px;
        text-align: center;
        margin: 0 0 40px;
        font-weight: bold;
        margin-bottom: 25px;
        padding-bottom: 15px;
        position: relative;
      }
      &__head::after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 47%;
        transform: translateY(-50%);
      }
      &__images{
        max-width: calc(1040px + 20px);
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        section{
          display: flex;
          flex-direction: column;
          width: calc(1 / 3 * 100%);
          text-align: center;
          padding: 0 20px;
          figure{
            width: 70%;
            margin: 0 auto;
            line-height: 120px;
            img{
              width: 100%;
              vertical-align: bottom;
            }
          }
          h3{
            margin: 38px 0 10px;
            font-size: 19px;
            font-weight: bold;
          }
          p{
            margin: 0 0 40px;
            font-size: 17px;
            font-weight: 200;
            text-align: left;
          }
        }
      }
    }
    span{
      padding: 80px 0 0;
      background-color: #f8f8f8;
      height: 100%;
      .head{
        text-align: center;
        font-size: 28px;
        line-height: 1.4;
        font-weight: bold;
        padding: 40px;
      }
      .box{
        margin: 0;
        padding-bottom: 20px;
        &__head{
          text-align: center;
          a{
            font-size: 24px;
            text-decoration: none;
            color: #3CCACE;
            font-weight: bold;
          }
        }
        &__lists{
          width: 780px;
          margin: 26px auto;display: flex;
          justify-content: space-between;
          .list{
            width: 220px;
            display: inline-block;
            a{
              background-color: #fff;
              display: inline-block;
              text-decoration: none;
              figure{
                width: 220px;
                height: 150px;
                position: relative;
                overflow: hidden;
                margin: 0;
                z-index: auto;
                img{
                  position: absolute;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  z-index: auto;
                  height: 150px;
                  object-fit: cover;
                }
              }
              .list__body{
                background-color: #fff;
                color: #333;
                padding: 16px;
                .name{
                  overflow: hidden;
                  line-height: 1.5;
                  font-size: 16px;
                  text-align: left;
                }
                .details{
                  font-size: 16px;
                  ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    li{
                      margin: 0;
                      padding: 0;
                    }
                  }
                  p{
                    font-size: 10px;
                    text-align: left;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
